.light-row{
    background:#f9f9f9;
}
.online{
    b{
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #3c763d;
        border-radius: 50%;
        position: relative;
    }
    
}