.appSettings{
  .appInfo{
    width: 100%;
    display: flex;
    .appImg{
      width: 100px;
      height: 100px;
      background-color: rebeccapurple;
    }
    .options{
      padding-left: 40px;

    }
  }
}
.ant-form-item{
  display: flex!important;
}