
.ant-layout-has-sider{
    .logo{
        background-color: #367fa9;
        color: #fff;
        display: block;
        float: left;
        height: 50px;
        width: 100%;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0 15px;
        font-weight: 800;
        overflow: hidden;
    }
    .ant-layout-header{
      position: relative;
      >.anticon{
        margin-left: 20px;
        vertical-align: 0.42em;
      }
      .headerUser{
        height:50px;
        position: fixed;
        right:60px;
        top:0;
        line-height: 50px;
        }
    }
}
.ant-layout-sider-children .trigger {
    position: absolute;
    top:0;
    right:-20px;
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }